#Build specific
target/
_dist/

#IDE specific
*.iml
*.ipr
*.iws
*.log
*.project
*.classpath
.settings/
.idea/*
.metadata/


#general files
*.swp
*.class

#Schema Files
service-spec/schema-validator/src/main/resources/hprof/
service-spec/schema-validator/src/main/resources/hspec/
